{{ define "main" }}
<main id="content">

	{{ .Content }}

	{{ $section := where .Site.RegularPages "Section" .Section }}
	<ul class='posts-list'>
		{{ range $section }}
			<li>
				<h2 class='p-name'>
					{{ .Title }}
				</h2>
				<div class='entry-meta'><p>Posted: <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
					{{ .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" }}
					</time> {{ with .Params.author }}by {{ . }} {{end}}on <a href='{{ .Params.SourceURL }}'>{{ .Params.SourceName }}</a></p></div>
				<blockquote class='summary'>
					<p>{{ .Summary }}</p>
				</blockquote>
				<div class='entry-notes'>
					<p><a href='{{ .Params.postURL }}'>Read ‘{{ .Title }}’ on {{ .Params.SourceName }}</a>.</p>
				</div>
			</li>
		{{ end }}
	</ul>
	<p class="after-list">For older news items, <a href="https://2017.ind.ie/blog/">see our archive.</a></p>

	{{ partial "fund-us.html" . }}
</main>
{{ end }}
