{{ define "main" }}
<main id="content">
    <h1>{{ .Title }}</h1>
    <div class='entry-meta'>
        <p>Posted: <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" }}
            </time> {{ with .Params.author }}by {{ . }} {{end}}on <a
                href='{{ .Params.SourceURL }}'>{{ .Params.SourceName }}</a></p>
    </div>
    <blockquote class='summary'>
        {{ .Content }}
    </blockquote>
    <div class='entry-notes'>
        <p><a href='{{ .Params.postURL }}'>Read ‘{{ .Title }}’ on {{ .Params.SourceName }}</a>.</p>
    </div>
    {{ partial "fund-us.html" . }}
</main>
{{ end }}