{{ define "main" }}
<main id="content">

    {{ .Content }}

    {{/* Only show the upcoming events section if there are any upcoming events. */}}
    {{ $posts := (where (where .Pages.ByDate "Section" .Section) "Date" "gt" now ) }}
    {{ $postCount := len $posts }}
    {{ if gt $postCount 0}}
        <h2>Upcoming Events</h2>
        <ul class="events-list future">
        {{ range where .Pages.ByDate "Section" .Section }}
            {{ if ge .Date now }}
                <li class='h-event'>
                    <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='dt-start'>
                        {{- .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" -}}
                    </time>
                    <h3 class='p-name'>
                        {{- .Title }} in {{ .Params.eventCity }}, {{ .Params.eventCountry }}
                    </h3>
                    <p class="summary p-summary">
                        {{- .Content }}
                    </p>
                    <p><a href="{{ .Params.eventURL }}" class='event-link u-url'>Learn more about {{ .Title }}.</a></p>
                </li>
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}

    <h2>Past Events</h2>
    <ul class="events-list past">
    {{ range where .Pages.ByDate.Reverse "Section" .Section }}
        {{ if le .Date now }}
        <li class='h-event'>
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='dt-start'>
                {{- .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" -}}
            </time>
            <h3 class='p-name'>
                {{- .Title }} in {{ .Params.eventCity }}, {{ .Params.eventCountry }}
            </h3>
            <p class="summary p-summary">
                {{- .Content }}
            </p>
            <p><a href="{{ .Params.eventURL }}" class='event-link u-url'>Learn more about {{ .Title }}.</a></p>
        </li>
        {{ end }}
    {{ end }}
        <!-- Old events from previous site -->
        <li class='h-event'>
            <time datetime='2018-07-06' class='dt-start'>6th-7th July, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.futurefest.org'>Futurefest in London, UK</a>
            </h3>
            <p class='p-summary'>Aral gave a keynote and Laura was on a panel.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-07-12' class='dt-start'>12th-13th July, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.askdirect.ie/summerschool/'>Ask Direct Summer School in Dublin, Ireland</a>
            </h3>
            <p class='p-summary'>Laura gave a keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-06-5' class='dt-start'>5th June, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://webinale.de/en'>Webinale in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Laura gave a keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-05-04' class='dt-start'>4th-5th May, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://uxcampcph.org'>UX Camp CPH in Copehagen, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave the closing keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-04-17' class='dt-start'>17th April, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://channel.royalcast.com/stadgent/#!/stadgent/20180417_1'>Democracy in a Digital Age, Eurocities in Ghent, Belgium</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-04-11' class='dt-start'>11th-12th April, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://nextm.io/sweden/'>NextM in Stockholm, Sweden</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-03-21' class='dt-start'>21st-22nd March, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://nextm.io/finland/'>NextM in Helsinki, Finland</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-03-21' class='dt-start'>21st-22nd March, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.nzz-xdays-en.com/x-days-2018'>NZZ X.Days in Interlaken, Switzerland</a>
            </h3>
            <p class='p-summary'>Laura held a session.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-02-27' class='dt-start'>27th-28th February, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://uxcopenhagen.com'>UX Copenhagen in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Laura gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2018-02-20' class='dt-start'>20th February, 2018</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.meetup.com/ixdalausanne/events/246990797/'>IxDA in Lausanne, Switzerland</a>
            </h3>
            <p class='p-summary'>Laura gave a talk.</p>
        </li>
        <li class='h-event'>
                <time datetime='2018-02-14' class='dt-start'>14th-16th February, 2018</time>
                <h3 class='p-name'>
                    <a class='event-link u-url' href='https://www.webstock.org.nz/18/'>WebStock in Wellington, New Zealand</a>
                </h3>
                <p class='p-summary'>Laura gave a workshop and spoke at the conference.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-11-29' class='dt-start'>29th-30th November, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://rendezveny.hwsw.hu/mobile/6'>HWSW Mobile! in Budapest, Hungary</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-11-25' class='dt-start'>25th November, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://adaconf.org'>ada_conf in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Laura gave the keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-11-15' class='dt-start'>15th November, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.meetup.com/a11ychi/events/243947005/'>Chicago Digital Accessibility and Inclusive Design Meetup in Chicago, USA</a>
            </h3>
            <p class='p-summary'>Laura gave the keynote virtually.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-11-6' class='dt-start'>6th November, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://accessibility-club.org'>A11Y (Accessibility) Club in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Laura gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-11-3' class='dt-start'>3rd-5th November, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.schaubuehne.de/de/produktionen/general-assembly.html'>General Assembly in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Aral gave talks.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-10-20' class='dt-start'>20th-21st October, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://push-conference.com/2017/'>Push Conference in Munich, Germany</a>
            </h3>
            <p class='p-summary'>Laura gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-10-8' class='dt-start'>8th October, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://ecopolis.be'>Ecopolis in Brussels, Belgium</a>
            </h3>
            <p class='p-summary'>Aral gave a talk. The event will be translated into English, French and Dutch</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-10-6' class='dt-start'>6th October, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.freedomnotfear.org'>Freedom Not Fear in Brussels, Belgium</a>
            </h3>
            <p class='p-summary'>Aral presented the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-29' class='dt-start'>29th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://dataethics.eu/en/conference17/'>European Conference on Data Ethics in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Laura introduced Better.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-28' class='dt-start'>28th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://it.openmaker.eu/2017/09/11/desire-for-meaning-a-milano/'>Desire For Meaning in Milan, Italy</a>
            </h3>
            <p class='p-summary'>Aral was on a panel.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-27' class='dt-start'>27th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://ixdaberlin.de/?event=62#62'>IxDA Berlin in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Aral gave the keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-13' class='dt-start'>13th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.ispa.at/news-events/internet-summit-austria/internet-summit-austria-detailansicht/veranstaltung/detailansicht/internet-summit-austria-2017.html'>Internet Summit Austria in Vienna, Austria</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-11' class='dt-start'>11th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://empodera.org/en/empoderalive-2017/'>Empodera Live in Malaga, Spain</a>
            </h3>
            <p class='p-summary'>Aral was interviewed.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-9-7' class='dt-start'>7th September, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://foreplay.gent'>Foreplay Conference in Ghent, Belgium</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-7-7' class='dt-start'>7th July, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://diem25.org/hamburg-is-transforming-itself-into-an-orwellian-dystopia-for-the-g20-summit/'>DiEM25@G20 in Hamburg, Germany</a>
            </h3>
            <p class='p-summary'>Aral and Renata Avila presented the Internet Of People initiative as a counter-narrative to the surveillance-based regulation that Merkel has hinted she will be pursuing at the G20.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-6-29' class='dt-start'>29th-30th June, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2017.uxlausanne.com'>UX Lausanne in Lausanne, Switzerland</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-6-2' class='dt-start'>2nd-3rd June, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://landing.careers'>Landing Festival in Lisbon, Portugal</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote. Laura was on a panel.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-4-24' class='dt-start'>24th-25th April, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://appbuilders.ch'>App Builders in Lausanne, Switzerland</a>
            </h3>
            <p class='p-summary'>Laura held a Q&amp;A</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-4-21' class='dt-start'>21st April, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://internetweekdenmark.com/events/privacy-summit-x-drunk-creatives-x-this-launch'>Internet Week Denmark in Aarhus, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-4-7' class='dt-start'>7th-8th April, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://bulgariawebsummit.com'>Bulgaria Web Summit 2017 in Sofia, Bulgaria</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-4-5' class='dt-start'>5th April, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://nextm.io/denmark/'>NextM in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave a keynote</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-4-3' class='dt-start'>3rd April, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.thersa.org/events/fellowship-events/2017/4/rsa-engage-london'>RSA Engage: Tech For Good in London, UK</a>
            </h3>
            <p class='p-summary'>Aral introduced Better</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-3-30' class='dt-start'>30th-31st March, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.dibiconference.com'>DIBI 2017 in Edinburgh, Scotland</a>
            </h3>
            <p class='p-summary'>Laura gave a keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-3-24' class='dt-start'>24th March, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://foocafe.org/malmoe/events/1404'>Decent #1 at FooCafé in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral and Laura both gave talks.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-3-22' class='dt-start'>22nd March, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://bccd.dk/?pageid=10&options=%7B%22events%22%3A%7B%22event%22%3A%22488%22%2C%22year%22%3A%222017%22%2C%22month%22%3A%2203%22%2C%22open%22%3A1%7D%2C%22GET%22%3Anull%7D&menuid=17&languageid=0'>Harnessing the Power of the Cloud in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-2-16' class='dt-start'>16th February, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://tweakers.net/acties/devsummit-2017/'>Tweakers Development Summit 2017 in Utrecht, Netherlands</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2017-2-2' class='dt-start'>2nd-3rd February, 2017</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://dsifair.eu'>Digital Social Innovation Fair 2017 in Rome, Italy</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-11-17' class='dt-start'>17th November, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.frontierconf.com'>Frontier Conference in London, UK</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-11-8' class='dt-start'>8th-11th November, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://oredev.org'>Øredev in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote at Øredev on “<a href='https://vimeo.com/190855745'>The Matrix, Inverted.</a>”</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-11-4' class='dt-start'>4th November, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://universe.ida.dk/driving-it/tilmelding/'>DrivingIT in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave the closing keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-10-13' class='dt-start'>13th-15th October, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.europeancreativityfestival.com'>ADCE 3rd European Creativity Festival in Barcelona, Spain</a>
            </h3>
            <p class='p-summary'>Aral spoke.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-09-29' class='dt-start'>29th-30th September, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.privacylab.at/events/launch/'>Launching the Privacy and Sustainable Computing Lab in at WU Vienna, Austria</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-09-22' class='dt-start'>22nd September, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://makingweb.no/en/'>MakingWeb in Oslo, Norway</a>
            </h3>
            <p class='p-summary'>Laura spoke about ‘Ethical Design.’</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-09-22' class='dt-start'>22nd-25th September, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.globart.at/globart-academy-2016/?lang=en'>Globart 2016 in Krems, Austria</a>
            </h3>
            <p class='p-summary'>Aral spoke.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-09-01' class='dt-start'>1st-2nd September, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://frontendconf.ch'>Frontend Conference in Zurich, Switzerland</a>
            </h3>
            <p class='p-summary'>Laura returned to Frontend Conference Zurich, this time as an <abbr title='Master of Ceremonies'>MC</abbr>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-08-27' class='dt-start'>27th August, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.foocafe.org/event/the-education-of-a-lifetime'>Foo Café Four Year Anniversary in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral spoke about Thinking Slow About Fast-Moving Things.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-08-15' class='dt-start'>15th August, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://2016.theconference.se/side-events#monday-15th-building-a-startup-city'>How To Build A Startup City in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral spoke about how to build the anti-start-up city.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-08-6' class='dt-start'>6th-7th August, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.doku.tech'>Doku:tech in Prizren, Kosovo</a>
            </h3>
            <p class='p-summary'>Aral gave a talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-07-13' class='dt-start'>13th July, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.medienmittwoch.de/event/beyond-the-clouds/'>MedienMittwoch in Frankfurt, Germany</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on ‘Beyond The Clouds’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-06-23' class='dt-start'>23rd June, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.blackhatsessions.com'>Black Hat Sessions in Ede, Netherlands</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-06-21' class='dt-start'>21st June, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.foocafe.org/event/ethical-design'>The Digital UI in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral spoke at Foo Café at Media Evolution City.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-05-20' class='dt-start'>20th May, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://devitconf.org'>DEVit in Thessaloniki, Greece</a>
            </h3>
            <p class='p-summary'>Laura spoke about Ethical Design.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-04-16' class='dt-start'>16th April, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.see-conference.org/en/'>see-conference #11 in Wiesbaden, Germany</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote at the conference.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-03-18' class='dt-start'>18th March, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://creativemornings.com/talks/laura-kalbag'>CreativeMornings Malmö</a>
            </h3>
            <p class='p-summary'>Laura gave a talk on ‘Change’ and Ethical Design.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-03-10' class='dt-start'>10th March, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://dataethics.eu/en/2070-2/'>DataEthicsEU: ‘Understanding The Privacy Market’ in Copenhagen, Denmark</a>
            </h3>
            <p class='p-summary'>Aral gave a short talk.</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-02-20' class='dt-start'>19-20th February, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.vernetzt-hamburg.de/'>Bucerius Lab in Hamburg, Germany</a>
            </h3>
            <p class='p-summary'>Aral spoke about ‘Digital Emancipation: Ownership of the self in the digital age’</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-02-3' class='dt-start'>3rd February, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.jugularproductions.com/#!dialogue/c13qx'>Dialogue in London, UK</a>
            </h3>
            <p class='p-summary'>Laura spoke on a panel on “Privacy, Protection, Publicity: Does Your Freedom Have Boundaries?”</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-02-3' class='dt-start'>3rd-4th February, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.learningtechnologies.co.uk'>Learning Technologies conference in London, UK</a>
            </h3>
            <p class='p-summary'>Laura spoke on a panel on “Instructional design is dead. So what’s next?”</p>
        </li>
        <li class='h-event'>
            <time datetime='2016-01-21' class='dt-start'>21st January, 2016</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.debalie.nl/agenda/podium/power-to-the-people-%232/uitgelicht/e_9782148/p_11743527'>Power To The People conference in Amsterdam, Netherlands</a>
            </h3>
            <p class='p-summary'><a href='https://vimeo.com/152625235'>Aral spoke at De Balie in Amsterdam</a></p>
        </li>
        <li class='h-event'>
            <time datetime='2015-12-8' class='dt-start'>8th-9th December, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='/events'>European Parliament High-level conference on ‘Protecting on-line privacy by enhancing IT security and EU IT autonomy’</a>
            </h3>
            <p class='p-summary'>Aral participated in this conference organised by the European Parliament and the Luxembourg Presidency in Brussels, Belgium</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-11-27' class='dt-start'>27th November, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://live.vuc.me'>IP Communications &amp; VoIP Community</a>
            </h3>
            <p class='p-summary'>Aral chatted with a tech group.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-11-18' class='dt-start'>18th November, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.edst15.nl'>EDST *15 in Kerkrade, Netherlands</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on “The Tyranny of Everyday Things”</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-11-7' class='dt-start'>7th-8th November, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.openfest.org/2015/en/'>OpenFest 2015 in Sofia, Bulgaria</a>
            </h3>
            <p class='p-summary'>Aral gave the opening keynote on “The Tyranny of Everyday Things”</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-10-16' class='dt-start'>16th October, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.mediareform.org.uk/media-democracy-festival'>Media Democracy Festival: Rally for Media Democracy in London, UK</a>
            </h3>
            <p class='p-summary'>Aral spoke on a panel</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-10-08' class='dt-start'>8th October, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://summit.open-xchange.com'>Open Xchange Summit 2015 in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>The Ind.ie team was in Berlin, hosting the Soap Box stage and sharing Heartbeat at the Ind.ie stand</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-10-01' class='dt-start'>1st October, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.greens-efa.eu/internet-as-a-commons-13850.html'>“Internet as a Commons: Public Space in the Digital” at the European Parliament in Brussels, Belgium</a>
            </h3>
            <p class='p-summary'>Aral spoke on a panel, “<a href='http://greenmediabox.eu/en/ct/107-Internet-as-a-Commons-Public-Space-in-the-Digital-Age'>Internet as a Commons: the Big Picture</a>”</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-09-26' class='dt-start'>26th September, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://overtheair.org/blog/'>Over The Air in London, UK</a>
            </h3>
            <p class='p-summary'>Laura spoke about ‘Ethical Design’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-08-27' class='dt-start'>27th-28th August, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://frontendconf.ch'>Frontend Conference Zurich, Switzerland</a>
            </h3>
            <p class='p-summary'>Laura spoke about ‘Ethical Design’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-08-18' class='dt-start'>18th-19th August, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2015.theconference.se'>The Conference in Malmö, Sweden</a>
            </h3>
            <p class='p-summary'>Aral gave the <a href='http://videos.theconference.se/aral-balkan-privacy-data-democracy'>opening talk at The Conference</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-07-06' class='dt-start'>6th July, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://dcentproject.eu/event/d-cent-round-table-decentralized-citizen-action-and-tools-for-network-democracy/'>D-Cent in Brussels, Belgium</a>
            </h3>
            <p class='p-summary'>Aral took part in a roundtable discussion.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-07-01' class='dt-start'>1st July, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://live.ft.com/Events/2015/Camp-Alphaville-2015'>Camp Alphaville in London, UK</a>
            </h3>
            <p class='p-summary'>Aral took part in a panel.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-6-16' class='dt-start'>16th June, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://blockchainworkshops.org'>Blockchain (R)evolution in London,&nbsp;UK</a>
            </h3>
            <p class='p-summary'>Aral gave a talk and took part in a panel on ‘Internet of Things: Designing Architectures’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-6-16' class='dt-start'>16th June, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://418conf.co.uk'>418conf in Redhill, UK</a>
            </h3>
            <p class='p-summary'>Laura gave a talk on ‘Designing for Web Accessibility’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-6-1' class='dt-start'>1st June, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.thersa.org/events/fellowship-events/2015/6/rsa-engage-london/'>RSA Engage: London, UK</a>
            </h3>
            <p class='p-summary'>Aral hosted a free event featuring lightning talks from RSA fellows.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-5-30' class='dt-start'>30th May, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://webwewant.southbankcentre.co.uk/whats-on/new-economy-1274'>Web We Want Festival, London, UK</a>
            </h3>
            <p class='p-summary'>Aral spoke on a panel about The New Economy.</p>
        </li>
        <li class='h-event'>
                <time datetime='2015-5-20' class='dt-start'>20th-22nd May, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2015.ouisharefest.com'>OuiShare in Paris, France</a>
            </h3>
            <p class='p-summary'>Aral gave a short talk on ‘85: How an otherwise unremarkable number portends ubiquitous surveillance, erosion of human rights, &amp; end of democracy.’</p>
        </li>
        <li class='h-event'>
                <time datetime='2015-5-21' class='dt-start'>21st May, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.inclusivedesign24.org'>Inclusive Design 24, Online</a>
            </h3>
            <p class='p-summary'>Laura spoke about <a href='http://laurakalbag.com/accessibility-by-design/'>‘Accessibility by Design.’</a></p>
        </li>
        <li class='h-event'>
                <time datetime='2015-5-14' class='dt-start'>14th May, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://securecomputingforum.ie'>Secure Computing Forum in Dublin, Ireland</a>
            </h3>
            <p class='p-summary'>Aral spoke about how <a href='/you-are-the-product'>You Are The Product</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-5-5' class='dt-start'>5th-7th May, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://re-publica.de/en/news/rp15-speaker-aral-balkan'>re:publica 15 in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/you-are-the-product'>You Are The Product</a>, and the whole Ind.ie team attended.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-24' class='dt-start'>24th-25th April, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2015.penguicon.org'>Penguicon in Detroit, USA</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/the-camera-panopticon'>The Camera Panopticon</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-23' class='dt-start'>23rd April, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://environmentsforhumans.com/2015/web-sherpa-summit/'>Web Sherpa Summit Online Conference</a>
            </h3>
            <p class='p-summary'>Laura spoke about ‘Designing for Web Accessibility’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-7' class='dt-start'>7th April, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.meetup.com/ORG-Brighton/events/221341373/'>Brighton Pavilion ‘Civil Liberties’ Hustings</a>
            </h3>
            <p class='p-summary'>Aral chaired a panel on the Human Rights Act, freedom of speech, surveillance, and more.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-3' class='dt-start'>3rd April, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://ellak.gr/2015/03/asfalia-prosopikon-dedomenon-sto-internet/'>Innovathens, Greece</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/the-camera-panopticon'>The Camera Panopticon</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-1' class='dt-start'>1st April, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://media.leidenuniv.nl/legacy/uitnodiging-elaw-30-jaar.pdf'>Leiden University, Centre for Law and Digital Technologies 30th anniversary, Netherlands</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/the-camera-panopticon'>The Camera Panopticon</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-4-27' class='dt-start'>27th March, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://pro2.unibz.it/projects/blogs/bydesignorbydisaster/glocal-design-spring-2015/'>Glocal Design Spring 2015 in Bolzano, Italy</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/the-camera-panopticon'>The Camera Panopticon</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-3-21' class='dt-start'>21st March, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://london.wordcamp.org/2015/'>WordCamp London 2015, UK</a>
            </h3>
            <p class='p-summary'>Laura spoke about ‘Indie Design’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-3-16' class='dt-start'>16th March, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://ti.to/shecodesbrighton/techinten'>Tech in 10 in Brighton, UK</a>
            </h3>
            <p class='p-summary'>Laura gave a ten minute ‘Introduction to WAI-ARIA’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-3-10' class='dt-start'>10th March, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://webtomorrow.gent/'>WebTomorrow in Ghent, Belgium</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on <a href='/the-camera-panopticon'>The Camera Panopticon</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-3-3' class='dt-start'>3rd March, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://www.eventbrite.co.uk/e/rsa-engage-london-tickets-14633492169'>RSA Engage: London, UK</a>
            </h3>
            <p class='p-summary'>Aral spoke about Ind.ie.</p>
        </li>
        <li class='h-event'>
            <time datetime='2015-2-28' class='dt-start'>28th February, 2015</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.brightonscience.com/events/big-science-saturday/'>Big Science at the Brighton Science Festival, UK</a>
            </h3>
            <p class='p-summary'>Aral spoke about <a href='/the-camera-panopticon'>‘The Camera Panopticon’</a>.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-04 18:00:00' class='dt-start'>4th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2014.bathdigitalfestival.com/event/digital-for-good-inspirations/'>Bath Digital Festival: Digital For Good, UK</a>
            </h3>
            <p class='p-summary'>Aral spoke about ‘Spyware 2.0’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-05 09:00:00' class='dt-start'>5th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2014.bathdigitalfestival.com/event/tedxyouthbath-fireworks-adventurers-entrepreneurs-and-freedom-fighters/'>TedX Youth @ Bath, UK</a>
            </h3>
            <p class='p-summary'>Aral was in Bath to discuss ‘Spyware 2.0’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-11 09:00:00' class='dt-start'>11th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://dsgnday.nl'>dsgnday in Amsterdam, Netherlands</a>
            </h3>
            <p class='p-summary'>Laura spoke about designing for accessibility.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-12' class='dt-start'>12th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://audia3etron.es/ponencias'>Audi A3 E-tron launch in Barcelona, Spain</a>
            </h3>
            <p class='p-summary'>Aral gave a talk on ‘I, Simulation’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-12' class='dt-start'>13th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://2014.wud-berlin.de/'>World Usability Day in Berlin, Germany</a>
            </h3>
            <p class='p-summary'>Aral was in Berlin, speaking on ‘I, Simulation’.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-11-14' class='dt-start'>14th November, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='http://www.nesta.org.uk/event/future-shock'>Future Shock in London, UK</a>
            </h3>
            <p class='p-summary'>Aral sat on a panel discussing the need for visionary, long-term thinking in the shaping of government policy.</p>
        </li>
        <li class='h-event'>
            <time datetime='2014-12-16' class='dt-start'>16th December, 2014</time>
            <h3 class='p-name'>
                <a class='event-link u-url' href='https://bigbrotherawards.nl/informatie/'>Big Brother Awards in Amsterdam, Netherlands</a>
            </h3>
            <p class='p-summary'>Aral was in Amsterdam to deliver a keynote on ‘Moving beyond the clouds’.</p>
        </li>
    </ul>

    {{ partial "fund-us.html" . }}
 </main>
{{ end }}
