{{ define "main" }}
<main id="content">
    <h1>{{ .Title }}</h1>
    {{ if not .Params.recurring }}
        <p>{{ .Params.eventCity }}, {{ .Params.eventCountry }} on <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='dt-start'>
            {{- .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006" -}}
        </time></p>
    {{ end }}
    <p class="summary p-summary">
        {{- .Content }}
    </p>
    {{ if not .Params.recurring }}
        <p><a href="{{ .Params.eventURL }}" class='event-link u-url'>Learn more about {{ .Title }}.</a></p>
    {{ end }}
    {{ partial "fund-us.html" . }}
</main>
{{ end }}