{{ define "main" }}
<main id="content">

	{{ .Content }}

	{{ $video := where .Site.RegularPages "Section" .Section }}
	<ul class='videos-list'>
		{{ range $video }}
		<li class='{{ with .Title }} {{- anchorize . -}} {{ end }}'>
			<h2 class='p-name'>
				{{- .Title -}}
			</h2>
			<div class='summary'>
				<a href='{{ .RelPermalink }}'>
					<img class='video-poster'
					{{ with .Resources }}
						{{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
							src='{{ .RelPermalink }}'
						{{ end }}
					{{ end }}
					alt='{{ .Params.speaker }} speaking.'
					title='on {{- .Title -}}'/>
				</a>
				<p>{{ .Params.Description }}</p>
				<p><a href='{{ .RelPermalink }}' title='on {{- .Title -}}'>Watch the video.</a></p>
			</div>
		</li>
		{{ end }}
	</ul>

	{{ partial "fund-us.html" . }}
</main>
{{ end }}
