<h2>Chat</h2>

<p>Status: <span id='status' style="color: red;">Offline</span></p>
<ul id='messages'></ul>
<form id='message-form'>
  <label for='nickname'>Nickname:</label>
  <input id='nickname' name='nickname' value='Anonymous'>
  <label for='message'>Message:</label>
  <input id='message' name='message' value=''>
  <button id='send-button' type='submit'>Send</button>
</form>

<p><strong>Note:</strong> the messages in this chat room are ephemeral. In other words, they are not stored anywhere and you will only see the messages sent after you’ve joined.</p>

<style>

  form input, form select {
    margin: 0;
  }

  main ul, main ol {
    grid-column: 3 / 18;
  }

  form {
    background: #eee;
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    align-items: center;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    padding: 0.75em;
  }

  form > label { grid-column: labels; }

  form > input, form > button {
    grid-column: controls;
    min-width: 6em;
    max-width: 300px;
    padding: 0.5em;
    font-size: 1em;
  }

  button {
    text-align: center;
    cursor: pointer;
    font-size:16px;
    color: white;
    border-radius: 4px;
    background-color:#466B6A;
    border: none;
    padding: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    transition: color 0.5s;
    transition: background-color 0.5s;
  }

  button:hover {
    color: black;
    background-color: #92AAA4;
  }

  button:disabled {
    color: #999;
    background-color: #ccc;
  }

  form {
      width: 100%;
  }

  #messages {
    list-style: none;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: #eee;
    padding: 0.75em;
  }
</style>

<script src='/chat.js'></script>
