<p>Every month we’ll send you a reminder for the next episode of Small is Beautiful, the Small Technology Foundation
livestream, so you can watch the stream live.</p>

<p>That’s all we’ll send you! No spam or any other nonsense, and we will never use your email address for anything else.</p>

<form action="https://buttondown.email/api/emails/embed-subscribe/small-is-beautiful" method="post" target="popupwindow"
  onsubmit="window.open('notify.small-tech.org', 'popupwindow')" class="buttondown-form">
  <label for="bd-email">Your email address:</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
</form>

<p>If you’d prefer, you can also <a href='https://buttondown.email/small-is-beautiful/rss'>subscribe to monthly reminders via RSS</a>.