<video id='{{ anchorize .Page.Title }}' controls preload="none"
	src='{{ .Get "vimeo" }}'
    poster='{{ .Get "poster" }}'
	width='800'>
	{{ with .Get "captions-en" }}<track label="English captions" kind="subtitles" srclang="en" src="{{ . }}" default>{{ end }}
	<img src='{{ .Get "poster" }}' width='640' height='360' alt='' />
	<p>Sorry, your browser doesn't support embedded videos. But that doesn’t mean you can’t watch it! You can <a href='{{ .Get "vimeo" }}'>download {{ .Page.Title }} directly</a>, and watch it with your favourite video player.</p>
</video>
