{{ define "main" }}
<main id="content">

	{{ .Content }}

	{{ $section := where .Site.RegularPages "Section" .Section }}
	<ul class='posts-list'>
		{{- range $section -}}
		<li>
			<h2>
				<a href="{{ .Permalink }}">
				{{- .Title -}}
				</a>
			</h2>
			{{ .Content }}
		</li>
		{{ end }}
	</ul>

	{{ partial "fund-us.html" . }}
</main>
{{ end }}
