    <style>${styles}</style>

    <section id='error'>
      <h1>Sorry, we could not find your patronage.</h1>
      <p>If you ever want to talk to a human being, you can contact Laura and Aral at <a href='mailto:hello@small-tech.org'>hello@small-tech.org</a>.</p>
      <p>To become a patron or to donate, please visit our <a href='/fund-us'>fund us</a> page.</p>
    </section>

    <aside class="fund-us">
      <h2>Like this? Fund us!</h2>
      <p class="feature-text">We are a tiny, independent not-for-profit.</p>
      <p>We exist in part thanks to patronage by people like you. If you share our vision and want to support our work, please <a href="/fund-us">become a patron or donate to us</a> today and help us continue to exist.</p>
      <p><a href="/about" class="link-highlighted">More about us</a> <a href="/fund-us" class="link-highlighted">Fund us</a></p>
    </aside>
