/* Fix buttons so they appear centered. */
.swal2-actions {
  text-align: center;
}

form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

form button {
  margin: 0 0 0.5em 0;
}

section h2 {
  margin-top: 1.5em;
}

section h1 + h2 {
  margin-top: 0.5em;
}

section form fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  max-width: 20em; /* stops the update patronage form from ending up on 1 row, but keeps the flex */
}

section form fieldset label {
  margin-bottom: 0.5em; /* same as on text input */
  margin-right: 0.5em;
}

form input#patronageAmount {
  /* shrink on narrower viewports */
  flex: 1 2 auto;
  margin: 0 0.5em 0.5em;
  width: 5em;
}

#your-patronage-is-paused-message, #offline-message {
  background-color: #FEE59E;
  color: #783806;
  font-size: 1.25em;
  padding: 0.5em;
  text-align: center;
}

#offline-message {
  background-color: #C7D4CC;
  color: #304349;
}

#update-button, #resume-button {
  background-color: #E3F9A8;
  color: #004E48;
}

#update-button:hover, #update-button:active, #update-button:focus,
#resume-button:hover, #resume-button:active, #resume-button:focus {
  background-color: #FDFEBE;
}

#pause-button {
  background-color: #FFEDB9;
  color: #783806;
}

#pause-button:hover, #pause-button:active, #pause-button:focus, #short-link {
  background-color: #FFF9D3;
}

#short-link {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  display: block;
  text-decoration: none;
  font-family: 'Rutan', Helvetica, Arial, sans-serif;
}

#cancel-button {
  background-color: #FFDDBC;
  color: #82073B;
}

#cancel-button:hover, #cancel-button:active, #cancel-button:focus {
  background-color: #FFF1D5;
}

/* The colour overrides, above, also apparently override the :disabled pseudo-class */
#pause-button:disabled, #cancel-button:disabled
{
  background-color: #DFEBE4;
  color: #304349;
  opacity: .5;
}

#pause-button:disabled:hover, #pause-button:disabled:active, #pause-button:disabled:focus {
  background-color: #F2F8F5;
  color: #304349;
  opacity: .5;
}

p.thankyou {
  margin: 1em 0;
}
