    <style>${styles}</style>

    <section id='cancelled-patronage' ${isActive ? 'hidden' : ''}>
      <h1>Cancelled patronage</h1>
      <h2>Hi, ${patronFirstName}!</h2>
      <p><strong>Thank you for supporting us!</strong> Your patronage started ${patronSince.relative} (${patronSince.absolute})</span> and was cancelled <span id='cancelled-at-relative'>${cancelledAt.relative}</span> (<span id='cancelled-at-absolute'>${cancelledAt.absolute})</span>.</p>
      <p>Your last payment was taken ${currentPeriodStart.relative} (${currentPeriodStart.absolute}).</p>
      <p>To become a patron again, please visit our <a href='/fund-us'>fund us</a> page.</p>
    </section>

    <section id='active-patronage' ${isActive ? '' : 'hidden'}>
        <h1>Your patronage</h1>

        <h2>Hi, ${patronFirstName}!</h2>

        <p id='offline-message' hidden>You’re offline.</p>

        <section id='resume-your-patronage' ${isPaused ? '' : 'hidden'}>
          <p id='your-patronage-is-paused-message'>Your patronage is paused.</p>

          <h2>Resume your patronage</h2>

          <p>This will resume your patronage effective immediately. You can pause it again at any point.</p>

          <form id='resume'>
            <fieldset id='resume-fields'>
              <button id='resume-button' type='submit'>Resume my patronage</button>
            </fieldset>
          </form>
        </section>

        ${newPatronMessage}

        <p class='thankyou'><strong>Thank you for supporting our work!</strong></p>

        <p>Please bookmark this page now or save this shorter link somewhere safe:</p>

        <p><a id='short-link' href='${shortLink}'>${shortLink}</a></p>

        <p><strong>You can return here at any time to <a href='#update-your-patronage'>update</a>, <a href='#pause-your-patronage'>pause</a>, or <a href='#cancel-your-patronage'>cancel</a> your patronage.</strong></p>

        <p>To talk to a human being, contact Laura and Aral at <a href='mailto:hello@small-tech.org'>hello@small-tech.org</a>.</p>

        <h2>At a glance</h2>

        <ul>
          <li><strong>Status:</strong> <span id='patronage-status'>${patronageStatus}</span></li>
          <li><strong>Patron since:</strong> ${patronSince.relative} (${patronSince.absolute})</strong>
          <li><strong>Amount:</strong> €<span id='patronageAmountDisplay'>${patronageAmount}</span>/month</li>
          <li><strong>Last payment:</strong> ${currentPeriodStart.relative} (${currentPeriodStart.absolute})</li>
          <li id='next-payment-date' ${isPaused ? 'hidden' : ''}><strong>Next payment:</strong> ${currentPeriodEnd.relative} (${currentPeriodEnd.absolute})</li>
        </ul>

        <section id='update-your-patronage'>
          <h2>Update your patronage</h2>

          <p>This will update your patronage amount effective immediately.</p>

          <form id='update'>
            <fieldset id='update-fields' disabled>
              <label for='amount'>Amount (€/month):</label>
              <input id='patronageAmount' type='text' value='${patronageAmount}'>
              <button id='update-button' type='submit'>Update my patronage</button>
            </fieldset>
          </form>
        </section>

        <section id='pause-your-patronage' ${isPaused ? 'hidden' : ''}>
          <h2>Pause your patronage</h2>

          <p>This will pause your patronage effective immediately. You can resume it again at any point.</p>

          <form id='pause'>
            <fieldset id='pause-fields' disabled>
              <button id='pause-button' type='submit'>Pause my patronage</button>
            </fieldset>
          </form>
        </section>

        <section id='cancel-your-patronage'>
          <h2>Cancel your patronage</h2>

          <p>This will stop your monthly patronage effective immediately.</p>

          <form id='cancel'>
            <fieldset id='cancel-fields' disabled>
              <button id='cancel-button' type='submit'>Cancel my patronage</button>
            </fieldset>
          </form>
        </section>
    </section>

    <script>
      const subscriptionId = '${subscriptionId}'
      const subscriptionStatus = '${subscriptionStatus}'
      const planId = '${planId}'
      const itemId = '${itemId}'
      const currentAmount = ${patronageAmount}
      const isPaused = ${isPaused}

      console.log('isPaused', isPaused)

      ${sweetAlert2}
      ${clientSideJavaScript}
    </script>
