<footer id='footer'>
  <p>Copyright <span class='copyright'>&copy;</span> Small Technology Foundation.</p>
  <p>Ground Floor, 71 Lower Baggot Street, D02 P593, Dublin, Ireland.</p>
  <p>All content on this site, unless specifically stated otherwise, is licensed under Creative Commons Attribution 4.0 International. All source code, unless specifically stated otherwise, is licensed under AGPLv3 or later. <a href='https://source.small-tech.org/small-tech.org/site'>View source</a>.</p>
  <p><a href='/privacy'>Our privacy policy</a> is “we exist to protect your privacy.”</p>
</footer>

</body>
</html>
