<aside class='fund-us'>
	<h2>Like this? Fund us!</h2>
	<p class="feature-text">We are a tiny, independent not-for-profit.</p>
	<p>We exist in part thanks to patronage by people like you. If you share our vision and want to support our work, please <a href='/fund-us'>become a patron or donate to us</a> today and help us continue to exist.</p>
	<p><a href='/about' class="link-highlighted">More about us</a> <a href='/fund-us' class="link-highlighted">Fund us</a></p>
</aside>