  <link rel='stylesheet' href='/fund-us/css/index.css'>

  <!-- Error message -->
  <div id='errorMessage' class='displayNone'>
    <h2>Oops!</h2>
    <p>Sorry, we have not been able to process your donation.</p>

    <p id='serverError' class='displayNone'></p>

    <p>We’d appreciate it if you could try again.</p>

    <p><small>If you’re having trouble donating, please contact us by email <a href='mailto:hello@ind.ie'>hello@ind.ie</a> or on Twitter: <a href='https://twitter.com/indie'>@indie</a>.</small></p>
  </div>

  <div id='testMessage' class='displayNone'>
    <h2>Test Mode</h2>
  </div>

  <!-- Donation form -->
  <form id='patronageForm' class='patronageForm' novalidate>

    <fieldset>
      <div class='paymentType'>
        <legend class='hidden'>Type of payment</legend>
        <div class='option'>
          <input type='radio' name='paymentType' value='card' id='paymentTypeCard' class='selectButton' checked>
          <label class='paymentTypeButtonLabel unselectable' for='paymentTypeCard'><img src='/images/card.svg' width='38em' style='display: inline-block; vertical-align: middle;'> Card</label>
        </div>
        <div class='option'>
          <input type='radio' name='paymentType' value='ethereum' id='paymentTypeEthereum' class='selectButton'>
          <label class='paymentTypeButtonLabel unselectable' for='paymentTypeEthereum' style=''><svg style='height: 26px; margin: 0.5em 0; padding-right: 0.5em; display:inline-block; vertical-align: middle;' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115 182" class="h-[35px] w-[22px] opacity-85 hover:opacity-100"><path fill="#F0CDC2" stroke="#1616B4" stroke-linejoin="round" d="M57.505 181v-45.16L1.641 103.171z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #eabaab;" data-noir-inline-stroke="" data-noir-inline-fill=""></path><path fill="#C9B3F5" stroke="#1616B4" stroke-linejoin="round" d="M57.69 181v-45.16l55.865-32.669z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #b99df2;" data-noir-inline-stroke="" data-noir-inline-fill=""></path><path fill="#88AAF1" stroke="#1616B4" stroke-linejoin="round" d="M57.506 124.615V66.979L1 92.28z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #7eb5f0;" data-noir-inline-stroke="" data-noir-inline-fill=""></path><path fill="#C9B3F5" stroke="#1616B4" stroke-linejoin="round" d="M57.69 124.615V66.979l56.506 25.302z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #b99df2;" data-noir-inline-stroke="" data-noir-inline-fill=""></path><path fill="#F0CDC2" stroke="#1616B4" stroke-linejoin="round" d="M1 92.281 57.505 1v65.979z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #eabaab;" data-noir-inline-stroke="" data-noir-inline-fill=""></path><path fill="#B8FAF6" stroke="#1616B4" stroke-linejoin="round" d="M114.196 92.281 57.691 1v65.979z" style="--noir-inline-stroke: #6697ec; --noir-inline-fill: #9ef8f3;" data-noir-inline-stroke="" data-noir-inline-fill=""></path></svg>Ethereum</label>
        </div>
      </div>
    </fieldset>

    <div id='ethereum' class='hidden'>
      <img src='/images/ethereum-address-qrcode.jpeg' alt='QRCode for ethereum address: 0xa1054E1928C22B540b935aE60Dc3097516D27115'>
      <p>0xa1054E1928C22B540b935aE60Dc3097516D27115</p>
    </div>

    <div id='cardPayment'>
      <fieldset>
        <div class='patronType'>
          <legend class='hidden'>Type of donation</legend>
          <div class='option'>
            <input type='radio' name='donationType' value='monthly' id='monthlyDonation' class='selectButton' checked>
            <label class='donationTypeButtonLabel unselectable' for='monthlyDonation'>Monthly</label>
          </div>
          <div class='option'>
            <input type='radio' name='donationType' value='oneTime' id='oneTimeDonation' class='selectButton'>
            <label class='donationTypeButtonLabel unselectable' for='oneTimeDonation'>One time</label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='patronTier'>
          <legend class='hidden'>Amount of donation (card)</legend>

          <div class='option'>
            <input type='radio' name='donationAmount' value='3' class='hidden selectButton' id='tier1' checked><label class='donationTierButtonLabel unselectable' for='tier1'>€3</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='5' class='hidden selectButton' id='tier2'><label class='donationTierButtonLabel unselectable' for='tier2'>€5</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='10' class='hidden selectButton' id='tier3'><label class='donationTierButtonLabel unselectable' for='tier3'>€10</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='20' class='hidden selectButton' id='tier4'><label class='donationTierButtonLabel unselectable' for='tier4'>€20</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='30' class='hidden selectButton' id='tier5'><label class='donationTierButtonLabel unselectable' for='tier5'>€30</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='50' class='hidden selectButton' id='tier6'><label class='donationTierButtonLabel unselectable' for='tier6'>€50</label>
          </div>
            <div class='option'>
            <input type='radio' name='donationAmount' value='100' class='hidden selectButton' id='tier7'><label class='donationTierButtonLabel unselectable' for='tier7'>€100</label>
          <!-- Unfortunately can’t use an input type='number' here because the events are not fired consistently across major browsers. -->
          </div>
          <div class='option'>
            <input type='radio' name='donationAmount' value='-1' class='hidden selectButton' id='tier8'><label class='donationTierButtonLabel unselectable' id='customDonationLabel' for='tier8'>Other<input id='customDonationAmount' type='string' pattern='[0-9]{1,6}' title='Custom donation amount'></input></label>
          </div>
        </div>
      </fieldset>

      <button type='submit' id='submitButton'>Become a patron</button>
      <small class='donation-currency'>Donations are in <a href='https://transferwise.com/gb/currency-converter/currencies/eur-euro'>Euros</a></small>
    </div>
  </form> <!-- end of donation form -->

  <script src='https://js.stripe.com/v3/'></script>
  <script src='/fund-us/js/index.js'></script>
