<!DOCTYPE html>
<html lang='{{ $.Site.LanguageCode | default "en-GB" }}'>
	<head>
		<meta charset="utf-8">
		<title>
		{{- block "title" . -}}
			{{- .Site.Title }} – {{ with .Title }} {{- . -}}
			{{ end }}
		{{- end -}}</title>
		<meta name= "viewport" content= "user-scalable=yes, width=device-width, initial-scale = 1">
		<meta name="robots" content="index, follow">
		{{/*  <meta name="description" content="{{ .Summary }}">  */}}

		<link href='{{ "style.css" | relURL }}' rel='stylesheet' type="text/css" />
		
		{{- partial "meta-twitter.html" . -}}
		{{- partial "meta-identities.html" . }}
		{{- partial "meta-schema.html" . -}}

	</head>

	<body class='{{ with .Title }} {{- anchorize . -}} {{ end }} {{ with .Section }} {{- . -}} {{ end }}'>


	<header>
			<a href="#content" class="skip-link">Skip to content</a>
			<div class="feature">
				<h2 class='small-technology-foundation'><span class='small-technology'>Small Technology</span> <span class="foundation">Foundation</span></h2>
			</div>
			{{ block "navigation" . }}
				{{ partial "navigation.html" .}}
			{{ end }}
    </header>
