<!-- From Indiego partials/micro-schema.html https://github.com/growdigital/indiego/blob/master/themes/indiegomin/layouts/partials/micro-schema.html -->
<!-- Schema.org markup -->
{{ if .IsHome }}
<meta itemprop="headline" content="{{ .Site.Title }}">
{{ else if .Params.meta_title }}
<meta itemprop="headline" content="{{ .Params.meta_title }}">
{{ else }}
<meta itemprop="headline" content="{{ .Title }}">
{{ end }}
{{ if .Params.Description }}
<meta itemprop="description" content="{{ .Params.description }}">
{{ else }}
<meta itemprop="description" content="{{ .Summary }}">
{{ end }}
<meta itemprop="image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
<meta itemprop="image" content="{{ .Site.BaseURL }}{{ .Site.Params.publisherLogo }}">
{{ if eq .Type "news" }}
<meta itemprop="author" content="{{ .Params.author }}">
{{ else if eq .Type "videos" }}
<meta itemprop="author" content="{{ .Params.speaker }}">
{{ else }}
<meta itemprop="author" content="{{ .Site.Params.publisher }}">
{{ end }}
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ .Site.BaseURL }}/{{ .Site.Params.publisherLogo }}">
        <meta itemprop="width" content="{{ .Site.Params.publisherLogoWidth }}">
        <meta itemprop="height" content="{{ .Site.Params.publisherLogoHeight }}">
    </div>
    <meta itemprop="name" content="{{ .Site.Params.publisher }}">
</div>