<link rel="me" href="https://mastodon.ar.al/@aral" />
<link rel="me" href="https://mastodon.laurakalbag.com/@laura" />
<link rel="me" href="https://twitter.com/aral" />
<link rel="me" href="https://twitter.com/LauraKalbag" />