<!-- From Indiego partials/micro-twitog.html https://github.com/growdigital/indiego/blob/master/themes/indiegomin/layouts/partials/micro-twitog.html -->
<!-- Twitter -->
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
{{ if .IsHome }}
<meta name="twitter:title" content="{{ .Site.Title }}">
{{ else if .Params.meta_title }}
<meta name="twitter:title" content="{{ .Params.meta_title }}">
{{ else }}
<meta name="twitter:title" content="{{ .Title }}">
{{ end }}
{{ if .Params.description }}
<meta name="twitter:description" content="{{ .Params.description }}">
{{ else }}
<meta name="twitter:description" content="{{ .Summary }}">
{{ end }}
{{ if .Params.Image }}
<!-- Twitter Summary Card with Large Image data -->
<!-- Aspect ratio 2:1, minimum dimension 300x157 -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.Image }}">
<meta name="twitter:image:alt" content="{{ .Params.imagealt }}">
{{ else }}
<!-- Twitter Summary Card -->
<!-- Aspect ratio 1:1, minimum dimension 144x144 -->
<!-- Defaulting to publisher logo -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.publisherLogo }}">
<meta name="twitter:image:alt" content="{{ .Site.Params.publisher }} logo">
{{ end }}
<!-- Open Graph data -->
<meta property="og:locale" content="{{ .Site.Language.Lang }}">
{{ if .Params.meta_title }}
<meta property="og:site_name" content="{{ .Params.meta_title }}">
{{ else }}
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ end }}
<meta property="og:type" content="article">
{{ if .Params.meta_title }}
<meta property="og:title" content="{{ .Params.meta_title }}">
{{ else }}
<meta property="og:title" content="{{ .Title }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.description }}
<meta property="og:description" content="{{ .Params.description }}">
{{ else }}
<meta property="og:description" content="{{ .Summary }}">
{{ end }}

{{ if .Params.Image }}
<!-- If image present -->
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.Image }}">
<meta property="og:image:alt" content="{{ .Params.imagealt }}">
<!-- width & height to ensure shares of new URLs include image -->
<meta property="og:image:width" content="624">
<meta property="og:image:height" content="352">
<!-- If no image, show logo. Make it square, 200px minimum -->
<meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.publisherLogo }}">
<meta property="og:image:width" content="{{ .Site.Params.publisherLogoWidth }}">
<meta property="og:image:height" content="{{ .Site.Params.publisherLogoHeight }}">
{{ end }}