<nav id='navigation'>
	{{- $currentPage := . -}}
	{{ if .Site.Menus.main }}
	<ul>
		{{ $current := . }}
		{{ range .Site.Menus.main }}
		{{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
		{{ $active = or $active (eq .Name $current.Title) }}
		{{ $active = or $active (and (eq .Name "News") (eq $current.Section "news")) }}
		{{ $active = or $active (and (eq .Name "Videos") (eq $current.Section "videos")) }}
		{{ $active = or $active (and (eq .Name "Events") (eq $current.Section "events")) }}
		<li {{ if $active }}class="active" aria-current="true" {{ end }}>
			<a href='{{ .URL }}'>
				<span class="highlight"><span class='inner'>
				{{- .Name -}}
				</span></span>
			</a>
		</li>
		{{- end }}
	</ul>
{{- end }}
</nav>